.chat-box-body-send {
	width: auto;
	float: right;
	background: none;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .015);
	margin-bottom: 14px;
}

.chat-box-body-receive {
	width: auto;
	float: left;
	background: none;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .015);
	margin-bottom: 14px;
}

#chatlog7 {
	visibility: hidden;
}
#chatlog6 {
	visibility: hidden;
}
#chatlog5 {
	visibility: hidden;
}
#chatlog4 {
	visibility: hidden;
}
#chatlog3 {
	visibility: hidden;
}
#chatlog2 {
	visibility: hidden;
}
#chatlog1 {
	visibility: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}