<div class="chat-box">
	<div class="chat-box-header">
		<h3>Talk to Chamelii</h3>
	</div>
	<div class="chat-box-body">
		<!-- <div class="chat-box-body-send">
			<p>This is my message.</p>
			<span>12:00</span>
		</div>
		<div class="chat-box-body-receive">
			<p>This is my message.</p>
			<span>12:00</span>
		</div>
		<div class="chat-box-body-receive">
			<p>This is my message.</p>
			<span>12:00</span>
		</div>
		<div class="chat-box-body-send">
			<p>This is my message.</p>
			<span>12:00</span>
		</div>
		<div class="chat-box-body-send">
			<p id="chatlog4">This is my message.</p>
			<span>12:00</span>
		</div>
		<div class="chat-box-body-receive">
			<p id="chatlog3">This is my message.</p>
			<span>12:00</span>
		</div>
		<div class="chat-box-body-receive">
			<p id="chatlog2">This is my message.</p>
			<span>12:00</span>
		</div>
		<div class="chat-box-body-send">
			<p id="chatlog1">This is my message.</p>
			<span>12:00</span>
		</div> -->
		<p id="chatlog7" class="chat-box-body-receive">&nbsp;</p>
		<p id="chatlog6" class="chat-box-body-send">&nbsp;</p>
		<p id="chatlog5" class="chat-box-body-receive">&nbsp;</p>
		<p id="chatlog4" class="chat-box-body-send">&nbsp;</p>
		<p id="chatlog3" class="chat-box-body-receive">&nbsp;</p>
		<p id="chatlog2" class="chat-box-body-send">&nbsp;</p>
		<p id="chatlog1" class="chat-box-body-receive">&nbsp;</p>
	</div>
	<div class="chat-box-footer">
		<input placeholder="Enter Your Message" type="text" id="chatbox">
		<i id="send" class="send far fa-paper-plane"></i>
	</div>
</div>