<div class="chat-box">
	<div class="chat-box-header">
		<h3>Talk to Chamelii</h3>
	</div>
	<div class="chat-box-body">
		<p id="chatlog7" class="chat-box-body-receive">&nbsp;</p>
		<p id="chatlog6" class="chat-box-body-send">&nbsp;</p>
		<p id="chatlog5" class="chat-box-body-receive">&nbsp;</p>
		<p id="chatlog4" class="chat-box-body-send">&nbsp;</p>
		<p id="chatlog3" class="chat-box-body-receive">&nbsp;</p>
		<p id="chatlog2" class="chat-box-body-send">&nbsp;</p>
		<p id="chatlog1" class="chat-box-body-receive">&nbsp;</p>
	</div>
	<div class="chat-box-footer">
		<input placeholder="Enter Your Message" type="text" id="chatbox">
		<i id="send" class="send fa fa-paper-plane"></i>
	</div>
</div>
<script src="{{ ASSETS_ROOT }}/js/core/chatbot.js"></script>
