<ul class="list-group">
    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
      <div class="d-flex text-center flex-column justify-content-center">
        <h6 class="mb-0 text-sm">Chamelii has identified that you've been struggling to sleep, and that you have recently had a bereavement in the family.<br><br> Chamelii has selected a few people you could talk to if you feel like you need to open up.</h6>
      </div>
    </li>
    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
      <div class="avatar me-3">
        <img src="{{ ASSETS_ROOT }}/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">
      </div>
      <div class="d-flex align-items-start flex-column justify-content-center">
        <h6 class="mb-0 text-sm">Sophie Gray</h6>
        <h8 class="mb-0 text-xs">Mental Health Coordinator</h8>
      </div>
      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto {% if 'message' in segment %} active {% endif %}" href="/messages-page.html">Message</a>
    </li>
    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
      <div class="avatar me-3">
        <img src="{{ ASSETS_ROOT }}/img/marie.jpg" alt="kal" class="border-radius-lg shadow">
      </div>
      <div class="d-flex align-items-start flex-column justify-content-center">
        <h6 class="mb-0 text-sm">Nicola Mason</h6>
        <h8 class="mb-0 text-xs">Hypnotherapist</h8>
      </div>
      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto {% if 'message' in segment %} active {% endif %}" href="/messages-page.html">Message</a>
    </li>
    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
      <div class="avatar me-3">
        <img src="{{ ASSETS_ROOT }}/img/ivana-square.jpg" alt="kal" class="border-radius-lg shadow">
      </div>
      <div class="d-flex align-items-start flex-column justify-content-center">
        <h6 class="mb-0 text-sm">Alex Robertson</h6>
        <h8 class="mb-0 text-xs">Family Issues Specialist</h8>
      </div>
      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto {% if 'message' in segment %} active {% endif %}" href="/messages-page.html">Message</a>
    </li>
    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
      <div class="avatar me-3">
        <img src="{{ ASSETS_ROOT }}/img/team-4.jpg" alt="kal" class="border-radius-lg shadow">
      </div>
      <div class="d-flex align-items-start flex-column justify-content-center">
        <h6 class="mb-0 text-sm">Drew Christie</h6>
        <h8 class="mb-0 text-xs">Bereavement Counseller</h8>
      </div>
      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto {% if 'message' in segment %} active {% endif %}" href="/messages-page.html">Message</a>
    </li>
  </ul>