<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            &copy; Chamelii - An OmniscientSafety App.
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a class="nav-link text-muted" target="_blank">Chamelii</a>
            </li>
            <li class="nav-item">
              <a href="https://www.omniscientsafetyinnovations.com" class="nav-link text-muted" target="_blank">OSI</a>
            </li>
            <li class="nav-item">
              <a href="https://www.omniscientsafetyinnovations.com/chamelii" class="nav-link text-muted" target="_blank">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  