<link href="{{ ASSETS_ROOT }}/css/moodCalendar.css" rel="stylesheet" />

<h4>Your monthly health status</h4>
<div class="moods_container">
    <button class="mood mood_1" id="mood_1">
        <i class="far fa-laugh"></i>
    </button>
    <button class="mood mood_2" id="mood_2">
        <i class="far fa-smile"></i>
    </button>
    <button class="mood mood_3" id="mood_3">
        <i class="far fa-meh"></i>
    </button>
    <button class="mood mood_4" id="mood_4">
        <i class="far fa-frown"></i>
    </button>
    <button class="mood mood_5" id="mood_5">
        <i class="far fa-sad-tear"></i>
    </button>
</div>
<div id="calendar" class="calendar w-100"></div>

<script src="{{ ASSETS_ROOT }}/js/plugins/moodCalendar.js" defer></script>