{% extends 'layouts/base.html' %}

{% block title %} Calendar {% endblock title %}

{% block stylesheets %}
<link href="{{ ASSETS_ROOT }}/css/calendar-css/mobiscroll.javascript.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div id="demo-add-delete-event" class="p-3"></div>
        <div style="display: none">
          <div id="demo-add-popup">
            <div class="mbsc-form-group">
              <label>
                Title
                <input mbsc-input id="event-title">
              </label>
              <label>
                Description
                <textarea mbsc-textarea id="event-desc"></textarea>
              </label>
            </div>
            <div class="mbsc-form-group">
              <label>
                All-day
                <input mbsc-switch id="event-all-day" type="checkbox" />
              </label>
              <label>
                Starts
                <input mbsc-input id="start-input" />
              </label>
              <label>
                Ends
                <input mbsc-input id="end-input" />
              </label>
              <div id="event-date"></div>
              <div id="event-color-picker" class="event-color-c">
                <div class="event-color-label">Colour</div>
                <div id="event-color-cont">
                  <div id="event-color" class="event-color"></div>
                </div>
              </div>
              <label>
                Show as busy
                <input id="event-status-busy" mbsc-segmented type="radio" name="event-status" value="busy">
              </label>
              <label>
                Show as free
                <input id="event-status-free" mbsc-segmented type="radio" name="event-status" value="free">
              </label>
              <div class="mbsc-button-group">
                <button class="mbsc-button-block" id="event-delete" mbsc-button data-color="danger"
                  data-variant="outline">Delete event</button>
              </div>
            </div>
          </div>

          <div id="demo-event-color">
            <div class="crud-color-row">
              <div class="crud-color-c" data-value="#ffeb3c">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ffeb3c">
                </div>
              </div>
              <div class="crud-color-c" data-value="#ff9900">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ff9900">
                </div>
              </div>
              <div class="crud-color-c" data-value="#f44437">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#f44437">
                </div>
              </div>
              <div class="crud-color-c" data-value="#ea1e63">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ea1e63">
                </div>
              </div>
              <div class="crud-color-c" data-value="#9c26b0">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#9c26b0">
                </div>
              </div>
            </div>
            <div class="crud-color-row">
              <div class="crud-color-c" data-value="#3f51b5">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#3f51b5">
                </div>
              </div>
              <div class="crud-color-c" data-value="">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"></div>
              </div>
              <div class="crud-color-c" data-value="#009788">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#009788">
                </div>
              </div>
              <div class="crud-color-c" data-value="#4baf4f">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#4baf4f">
                </div>
              </div>
              <div class="crud-color-c" data-value="#7e5d4e">
                <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#7e5d4e">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}


{% block javascripts %}
<script src="{{ ASSETS_ROOT }}/js/plugins/mobiscroll.javascript.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/index.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>

{% endblock javascripts %}