{% extends 'layouts/base-message.html' %}

<!-- base-message.html -->

{% block title %} Chatbot {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include "includes/chatbotNew.html" %}

{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/core/chatbot.js"></script>

{% endblock javascripts %}